<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <main class="grid-admin">
      <div class="content-admin">
        <%- include('components/menuAdmin') %>
        <div class="admin-profile">
          <%- include('components/headerAdmin') %>
        </div>
        <div class="content-display">
          <div class="content-msg">
            <% if(msgSuccess) { %>
            <div class="msgSuccess">
              <%= msgSuccess %> <a href="/dashboard">X</a>
            </div>
            <% } %>
          </div>
          <h1>Dashboard</h1>
          <div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem
              doloremque nemo odit obcaecati fugiat magni laudantium dicta
              molestias numquam consequatur ad ducimus, est eum aperiam eveniet
              repudiandae recusandae dolore vero. Nostrum accusantium maxime et
              fugiat optio vitae perferendis neque officiis iusto praesentium
              quisquam dolores velit quia exercitationem alias hic quasi
              quibusdam minus earum quae rerum tempore consectetur, quam
              aspernatur! Ducimus! Libero similique hic molestias eaque iure
              sunt modi, fugit recusandae quisquam aperiam tempore sapiente
              earum accusamus dicta soluta suscipit porro. A impedit
              perspiciatis iure corporis unde excepturi quos id nisi. Minus sint
              molestiae fugiat, illo excepturi fugit id delectus tenetur atque
              ipsa nulla nisi, unde quaerat necessitatibus, magni molestias!
              Enim odio nulla, qui delectus perspiciatis possimus consequuntur
              praesentium commodi distinctio. Reprehenderit eum sit minima
              blanditiis itaque doloremque esse accusamus. Minus dignissimos
              laudantium voluptates! Nesciunt, quas modi! Explicabo soluta
              exercitationem reprehenderit omnis delectus quas dolorum
              excepturi, tempore expedita amet nostrum ut. Delectus quibusdam
              accusantium aspernatur pariatur ullam in id vitae vero iure sint
              repudiandae, doloremque, voluptas animi! Odio, illum a? Quae
              debitis ex soluta reprehenderit unde ut architecto autem velit
              nobis? Quidem cum, esse tempore ipsam veniam animi minus nulla?
              Minus accusamus aut placeat quia odit quo expedita tempora officia
              sapiente, itaque laboriosam iste, libero, atque excepturi soluta
              aliquam ratione laborum? Tempore sint, vitae incidunt eligendi
              perspiciatis quibusdam, sapiente ut aspernatur mollitia sit
              nostrum ratione neque provident, consequatur error. Iusto
              temporibus labore magni, facere nesciunt illum ex maiores repellat
              voluptatum consequatur! Non deleniti velit vitae nam rerum placeat
              voluptas provident doloremque ea, quos, ipsam autem recusandae!
              Molestiae, ratione! Voluptas laboriosam alias voluptatem velit
              quaerat impedit eos, sit sapiente voluptate porro cumque. Eum
              necessitatibus et ullam repellat dolor molestiae reprehenderit
              officia magnam tempore quaerat porro culpa sapiente quod eveniet
              veniam voluptas sunt consectetur eligendi ipsum eaque iusto
              laborum, ea aliquid! Id, doloribus? Earum ullam ab minima
              accusamus ratione, molestias quis beatae. Iure laboriosam nihil
              atque, asperiores fuga aliquid sunt dolorum earum explicabo a
              veritatis ex similique dolorem nemo voluptate. Quam, ea odio?
              Illum necessitatibus temporibus omnis ea ipsam voluptas repellat,
              voluptates debitis quam sunt, non obcaecati inventore est, atque
              voluptatum enim fuga adipisci id neque iste maxime! Labore
              possimus iste et repellat? Deleniti, laudantium? Quaerat totam eos
              harum sapiente corrupti, veritatis impedit facilis. Aut accusamus
              reiciendis qui natus ut dolorem non, sunt id quidem sapiente
              perspiciatis quas eius debitis ad corporis neque. Odit officiis,
              alias recusandae praesentium ipsum vero accusantium repellendus,
              qui ullam, asperiores obcaecati voluptatibus. Amet provident
              doloremque deleniti laborum mollitia illo? Quos repudiandae
              quisquam fuga ea libero inventore quaerat aliquid. Eaque
              temporibus optio rerum sequi at quidem doloremque. Velit maxime
              odio maiores vel nulla fuga illum minus in vitae doloremque
              commodi quidem corrupti, ab aut animi qui totam odit possimus!
              Aspernatur labore voluptas fuga laborum eaque! Quos enim, nulla
              sunt amet illo in. Obcaecati, voluptates. Ab soluta at vel ad
              aliquam officia excepturi, nobis nesciunt fugiat, vitae fugit,
              beatae totam! Corrupti doloribus debitis dolorum assumenda officia
              aperiam, in amet at. Earum possimus aspernatur dolorem ipsam!
              Ipsam odio in minima nesciunt nihil voluptatem inventore. Beatae
              accusamus incidunt quidem repellat fugit quod. Porro minima odio
              sit qui odit! Quam fuga quibusdam, eius cupiditate rerum dicta,
              exercitationem blanditiis quod nam nemo nesciunt magnam laborum
              quas esse voluptas ipsam itaque rem, possimus quos tenetur.
              Maiores distinctio corrupti facilis blanditiis voluptatum nulla
              possimus aliquam debitis, adipisci ex magni quas quo eius!
              Voluptas officiis in odio, expedita provident, omnis reiciendis
              beatae quo, illo ea saepe perferendis! Iusto nisi inventore amet,
              impedit dolorum enim deserunt sed. Ratione impedit obcaecati
              molestiae, quos aperiam dicta, necessitatibus odio aspernatur
              perferendis sint velit! Totam, minus est incidunt ad repudiandae
              maiores eum. Sed sapiente illo distinctio reprehenderit ipsa nam
              blanditiis atque earum rerum ut quaerat accusantium quisquam, iure
              ipsum ducimus consectetur eveniet itaque dolore! Totam sed
              distinctio adipisci repellat autem possimus consectetur. Maiores
              sed, quo in nostrum adipisci necessitatibus ut est suscipit
              deleniti quas optio pariatur. Quo recusandae voluptas illo natus
              reprehenderit vero qui porro et pariatur, est deserunt aliquid?
              Pariatur, necessitatibus. Eum, corporis nisi perspiciatis harum
              maiores officiis, ab minima sapiente, reiciendis quae omnis sunt
              ratione sit rerum sequi unde asperiores? Impedit beatae porro sit
              in laboriosam officia cupiditate! Non, beatae. Non, accusamus?
              Cum, eos, nostrum optio iure, laboriosam dolor repudiandae quos
              possimus quod reprehenderit alias? Dolore, eos alias? Sunt dolore
              voluptate nisi accusantium quaerat laborum enim odit eligendi nemo
              aliquid. Hic, dolorum saepe. Adipisci dignissimos nihil dolores
              ratione illum reprehenderit, fuga deleniti! Autem eveniet unde
              architecto, laudantium hic assumenda! Veniam molestiae consectetur
              ipsum excepturi vero a aut cumque enim delectus! Illum laudantium,
              exercitationem est, voluptates perferendis, voluptate repellendus
              sapiente doloribus error soluta expedita dolorum. Labore nam
              obcaecati explicabo ut maxime ipsa eius ab commodi, repudiandae
              aspernatur, ex dolore blanditiis vero? Eos provident vitae quos
              sequi repellat rerum, commodi asperiores, nesciunt maiores, ea
              doloremque temporibus doloribus fuga vero incidunt vel qui
              nostrum? Aspernatur aliquid necessitatibus delectus labore dolorem
              placeat incidunt? Dolores. Eos nemo consectetur labore eveniet!
              Deleniti at vero assumenda nisi reiciendis voluptates qui soluta
              eius a quasi magnam unde, necessitatibus harum, voluptatem
              corrupti laudantium, vel beatae velit? Aliquid, molestias
              voluptates. Nulla in deserunt temporibus quidem, tempora non
              reprehenderit eveniet iusto consequuntur reiciendis possimus
              voluptate vero cum sapiente dolore tempore amet, blanditiis illo
              harum consectetur magnam! Dolor deleniti vitae deserunt debitis!
              Adipisci animi exercitationem officia voluptates provident
              assumenda quae expedita dignissimos at tempore? Voluptatibus,
              placeat, quo sed molestias et nobis temporibus hic, dicta repellat
              consequuntur doloremque sit quos officia iure quas? Numquam,
              molestias consequatur dolorem harum doloribus molestiae accusamus
              dignissimos earum, consectetur eaque culpa accusantium assumenda
              esse sit. Consectetur deleniti inventore eos ea obcaecati
              necessitatibus fuga, sit, eveniet, ratione enim ex. Maiores ut
              error, incidunt vero quasi nihil porro, eaque dolorem perspiciatis
              consectetur eos, praesentium laudantium repellendus corrupti iure.
              Et sapiente amet eius vitae praesentium fugit perferendis labore
              doloribus animi vero. Dicta magnam ducimus, expedita facilis
              voluptate provident, doloribus at sunt quos aut magni ut quisquam
              mollitia animi! Asperiores adipisci numquam maiores? Ducimus eaque
              quaerat commodi explicabo iste cupiditate sint laudantium!
              Inventore accusamus eos voluptate totam ex minima asperiores
              possimus, voluptas saepe nisi, explicabo officia! Voluptates,
              eveniet illo. Officia ipsum exercitationem eum aspernatur cumque
              impedit, dolore ipsam assumenda nihil quos facilis? Quae sequi
              odio aliquam similique necessitatibus ab exercitationem odit aut
              quasi quaerat nostrum dignissimos ipsum maxime at, omnis velit ad
              quia. Quaerat enim ullam est. Laborum qui suscipit quaerat dolore.
              Consequuntur illo illum labore iste facere, laboriosam, aliquam,
              exercitationem sed vero perferendis incidunt minima aperiam quidem
              perspiciatis? Molestiae repellendus voluptas velit optio, mollitia
              rerum vitae aspernatur sed, voluptate libero eligendi. Placeat
              voluptas voluptatem repellat ipsa quo eaque recusandae vel
              consequatur porro perferendis inventore eius quis similique
              perspiciatis, ad suscipit hic blanditiis quam quae cupiditate fuga
              est? Tenetur dolorum sunt rem. Nihil iusto necessitatibus rem
              expedita beatae nam mollitia iste modi consectetur? Beatae laborum
              tempora vel commodi fugit fugiat incidunt exercitationem
              voluptatum, perspiciatis nisi? Debitis maxime, rem ut et nostrum
              atque. Placeat accusamus illum vero, voluptas nostrum odit laborum
              aperiam nisi aliquam similique? Eaque possimus aspernatur maiores
              non iste sint, aut dolore delectus, modi accusamus placeat
              dignissimos! Animi impedit ut quasi! Magnam assumenda, nulla
              dolorem temporibus laborum sit numquam nisi sequi placeat, sed
              maxime cumque. Explicabo, quas. Quaerat in, culpa sequi dolor aut
              vel non? Nesciunt laboriosam facere porro? Incidunt, sapiente.
              Porro repellat consequuntur maiores omnis animi similique
              reiciendis laudantium nihil, culpa praesentium error sunt fugit
              doloribus nam quo, quas earum nostrum quos! Eos facere blanditiis
              voluptas distinctio, aperiam nobis a. Ea corporis esse a,
              possimus, tempora minima dolorum pariatur similique assumenda
              voluptate itaque adipisci vitae dolor et. Aliquam repellat ipsa
              ab, eaque adipisci asperiores libero harum dicta, assumenda
              obcaecati unde. Quos ullam aliquid repudiandae fugit ducimus animi
              nihil officiis, cum illo molestiae impedit numquam est quo
              molestias corrupti eaque quaerat minus ut assumenda, tenetur porro
              modi atque officia aspernatur. Laborum! Voluptatem consequatur nam
              obcaecati odit amet, unde saepe, magnam aliquid iure assumenda
              eaque! Qui, fuga. Nam, distinctio id magni deserunt ad sunt
              ducimus neque quaerat dolores, dicta, omnis cum. Doloremque.
              Sapiente saepe omnis nisi molestiae neque at explicabo pariatur
              placeat impedit, consectetur deleniti quos ipsam quisquam
              reprehenderit possimus ab vel sequi modi! Doloremque optio facilis
              eius. Soluta tempore dignissimos nam? Totam veniam nobis, impedit
              ut sit alias quod nihil amet molestiae repudiandae quisquam
              accusantium illo dolores dolor perspiciatis officiis voluptates
              nam asperiores earum ipsa? Non quae doloremque illo expedita in!
              Sunt laudantium deleniti natus quos atque. Nulla necessitatibus
              reiciendis accusamus quisquam, reprehenderit veniam repellendus
              ullam tempore, officiis nam labore at magni laudantium soluta
              nobis, illum eum voluptatibus eveniet eligendi. Tenetur. Pariatur,
              animi repellendus officiis laudantium alias ut. Aliquid totam
              repellat nostrum similique dignissimos quia laboriosam placeat
              quasi beatae itaque eaque facere optio dolore, ipsa minus qui
              blanditiis nemo eius perspiciatis? Nam corrupti iusto voluptatum
              aliquid dolorem ullam exercitationem assumenda id blanditiis
              obcaecati velit, est nisi minus quo a quisquam. Quis, autem dolore
              et ut nihil eius voluptates sed placeat totam! Iure rem maxime
              corporis error? Cupiditate nam vel quidem. Aspernatur rem minima
              magni est in quis fugiat? Magni blanditiis sit maxime doloremque.
              Modi consectetur magnam quisquam sapiente quae repellat vitae.
            </p>
          </div>
        </div>
      </div>
    </main>
    <%- include('components/script') %>
  </body>
</html>
