<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>

  <body>
    <%- include('components/header') %>
    <main>
      <div class="content-form">
        <h1>Editable</h1>
        <form action="/editableHtml" method="post">
          <div class="input-cpf" contenteditable="true" id="divEditable">
            Testando div editable
          </div>
          <input type="text" placeholder="aluno" />
          <input type="text" placeholder="livro" />
          <input type="text" placeholder="data" />
          <input type="hidden" name="editable" id="content-text" />
          <% if(msgSuccess) { %>
          <div class="msgSuccess"><%= msgSuccess %></div>
          <% } %> <% if(msgError) { %>
          <div class="msgError"><%= msgError %></div>
          <% } %>
          <div class="content-btn" id="btn">
            <button onclick="getContentEditable()">Editable</button>
          </div>
        </form>
      </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
