<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <main class="grid-admin">
      <div class="content-admin">
        <%- include('components/menuAdmin') %>
        <div class="admin-profile">
          <%- include('components/headerAdmin') %>
        </div>
        <div class="content-display">
          <div class="content-msg">
            <% if(msgSuccess) { %>
            <div class="msgSuccess">
              <%= msgSuccess %> <a href="/dashboard">X</a>
            </div>
            <% } %>
          </div>
          <h1>Paginas</h1>
          <div></div>
        </div>
      </div>
    </main>
    <%- include('components/script') %>
  </body>
</html>
